<ion-header>

  <ion-navbar>
    <ion-title>Registro de Ocorrência</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
      <ion-item>
        <ion-label floating>Nome do paciente</ion-label>
        <ion-input type="text" [(ngModel)]="paciente.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Endereço</ion-label>
        <ion-input type="text" [(ngModel)]="paciente.endereco"></ion-input>
      </ion-item>
        <ion-item>
          <ion-label>Doença</ion-label>
          <ion-select [(ngModel)]="paciente.doenca">
            <ion-option *ngFor="let doenca of doencas" [value]="doenca">{{doenca}}</ion-option>
          </ion-select>
          <button id="addDoenca" ion-button color="transparente" item-right icon-only (click)="novaDoenca()">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-item>


  <ion-item id="botoes" padding >
    <button item-right ion-button (click)="excluir()" color="danger" *ngIf="paciente.id">Excluir</button>
    <button item-right ion-button (click)="registrar()">Salvar</button>
    <button item-right ion-button color="danger" (click)="fechar()">Cancelar</button>
  </ion-item>





</ion-content>
