page-home {
  ion-grid .card {
    background-color: ghostwhite;
    min-height: 100%;
    max-width: 200px;
  }
  p{
    padding-left:10px;
  }
  h2, p{
    font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  h2 {
    text-align: center;
  }


  .content{
    background-color:lightsteelblue;
  }

  img {
    width: 90%;
    border-radius: 20px;
    margin: auto;
    margin-top: auto;
    margin-top: 5px;
  }
}
